.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #212121;
    color: white;
    text-shadow:  2px 2px 5px black;
  }

  .topics {
    color: white;
    align-content: center;
    padding: 2%;
    text-shadow:  2px 2px 5px black;
  }

  .content {
    position: relative;
    box-sizing: border-box;
    align-content: center;
    margin-top: 2.5%;
    margin-left: 14%;
    width: 100%;
    height: 50%;  
  }
  
  
  .column {
    float: left;
    width: 33.3%;
    padding-right: 0.1%;
    font-size: 16px;
    outline-style: solid;
    outline-style: solid;
    outline-color: #A4B0BD;
  }

  h1 {
      text-align: center;
  }

  h2 {
    text-decoration: underline;
  }
  p {
      font-size: 18px;
  }

  @media screen and (max-width: 1536px) {
  
    .topics {
      padding: 2.5%;
    }
  
    .content {
      margin-top: 0.5%;
      margin-left: 18%;
      width: 100%;
    }
    
    .column {
      padding-right: 0.1%;
    }

    h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 1280PX) {
  
    .topics {
      padding: 0.5%;
    }
  
    .content {
      margin-top: 0.5%;
      margin-left: 18%;
      width: 100%;
    }
    
    .column {
      padding-right: 0.1%;
    }

    h1 {
      font-size: 14px;
    }

    h2 {
      font-size: 12px;
    }
    p {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 1088PX) {
  
    .topics {
      padding: 0.5%;
    }
  
    .content {
      margin-top: 0.5%;
      margin-left: 18%;
      width: 95%;
    }
    
    .column {
      padding-right: 0.1%;
    }

    h1 {
      font-size: 12px;
    }

    h2 {
      font-size: 10px;
    }
    p {
      font-size: 10px;
    }
  }