<div class="content">
  <div class="row">
    <div class="column">
        <div class="topics">
            <h1>About Me</h1>
            <br>
            <h2>What I did in School</h2>
            <P>While at Liberty I worked at our IT help desk as a student worker position where troubleshooting and computer repairs were common and I was exposed to almost every level of IS.
                I participated in a Hackathon and was the VP of Liberty's Technology and Engineering Club for my Senior year.
                My capstone project was to work on a team who had a diverse range of talents and several IBM software engineers to develope a Chatbot who's focus was to help incoming students at Liberty with questions about campus.
                As one of the main developers I was in charge of the Chatbot's conversation design, implementation, and conversation training.
                Using IBM's Watson assistant and the integrated machine learning techniques to recognize sentence structure and context so the end user was able converse with the Chatbot and retrieve the desired information.
            </P>
            <br>
            <h2>Since Graduation</h2>
            <p>I have been pursuing my masters to round out my academic exposure to software development. 
                While working full time for Honda manufacturing where I wear several hats and adapted to the challenges that are not only software development hurdles.
                Leading software implementation projects and working with cross-departmental teams to further progress our manufacturing process have helped me develope strong soft skills
                All while working hands on with legacy code and diving into Web applications and dev op tools such as Jenkins.
            </p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="assets\img\me2.jpg" alt="Isaac Craig" style="width: 100%;" />
            <div class="container">
            </div>
          </div>
    </div>
  </div>
</div>
