<div class= 'content'>
    <div class = 'row'>
        <div class = 'column'>
            <h2>QR Code Reader Project</h2>
            <p class = "title">Written in Angular 8, this application uses zxing api to build a simple scanner app.</p>
            <p>this project is still a work in progress</p>
        </div>
        <div class = 'column'>
            <h2>Visualized Tree Graph</h2>
            <p class = "title">Written in C++, this code uses a multi-branched approach to expanding the binary tree.</p>
            <p>this project is still a work in progress</p>
        </div>
        <div class = 'column'>
            <h2>Inventory Tracking App</h2>
            <p class = "title">Written in Java, a simple standalone java application that allows a store owner to manager their inventory.</p>
            <p>this project is still a work in progress</p>
        </div>
    </div>

</div>