<div class="content">
  <div class="row">
    <div class="column">
      <div class = "chart">
        <canvas 
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
       </div>
      
    </div>
  </div>
  
  <div class="row">
    <div class="column">
      <h1>Outside of development these are some of my most used software tools and soft skills</h1>
      <ul>
        <li><a>Agile work flows</a></li>
        <li><a>Office 365</a></li>
        <li><a>Atlassian products Jira / Confluence</a></li>
        <li><a>J-flow / project management</a></li>
        <li><a>Cross department project explanations and joint implementations</a></li>
      </ul>
    </div>
  </div>
</div>
