<div class="content">
  <div class="row">
    <div class="column">
      <h3>I typically work within these languages and databases:</h3>
      <ul>
        <li>Java</li>
        <li>C++</li>
        <li>Angular/Javascript</li>
        <li>HTML/CSS</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h3>I mainly have been using these development tools and work flows</h3>
      <ul>
        <li>IBM's DB2</li>
        <li>Postgres</li>
        <li>Jenkins</li>
        <li>Agile / Scrum</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h3>Outside of development I use these software tools and soft skills</h3>
      <ul>
        <li>Office 365</li>
        <li>Atlassian products Jira / Confluence</li>
        <li>J-flow / project management</li>
        <li>Daily break downs of technical data to non-technical individuals</li>
      </ul>
    </div>
  </div>
</div>
