.bullets {
    color: #FFE4E1;
    text-decoration: none;
}

.Title {
    text-align: center;
    font-size: 24px;
    text-shadow:  2px 2px 5px black;
    color: ivory;
    overflow: auto;
    text-decoration: none;
}

.right {
    position: absolute;
    right: 5%;
    color: #FFE4E1;
    text-decoration: none;
    outline-color: #024249;
}

.left {
    position: absolute;
    background-color: #2C3335;
    left: 1%;
    width: 40%;
    height: 85%;
    top: 9%;
    color: #FFE4E1;
    text-decoration: none;
    outline-color: #A4B0BD;
    box-shadow: 2px 2px;
    outline-style: solid;
}

div.portrait {
    width: 25%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
    text-align: center;
    padding: 10px 20px;
  }

.list {
   padding-top : 2%;
}