  <div class="content">
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="assets\img\me.jpg" alt="Isaac Craig" style="width: 100%">
          <div class="container">
            <h2>Isaac Craig</h2>
            <p class="title">Software Developer & Analyst</p>
            <p>Just a man trying to feed his Star Wars and Amazon addiction</p>
          </div>
        </div>
      </div>
      <div class="column topics" >
        <div class="topic">
          <h2>What I do and Where I work</h2>
          <P>Currently I am a {{ workTitle }} for {{ workPlace }}.</P>
        </div>
        <div class="topic">
          <h2>My Education</h2>
          <p>
            I am currently Pursuing a degree in IT: Software Design & Management at Liberty University
            and I am on track to graduate in the Spring of 2021!
          </p>
        </div>
        <div class="topic">
          <h2>What I Have Been Learning:</h2>
          <p>
            Recently I have been doing some Udemy courses centered on Angular,
            Jenkins, and PostGres
          </p>
        </div>
        <div class="topic">
          <h2>Where I am based out of:</h2>
          <p>Right now I am working out of the state of Indiana</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right">

  </div>

    <!-- <div class="media">
      <img src="assets\img\me.jpg" alt="Myself" class="self-image" />
      <div class="media-body">
        <p>Hello and Welcome to Isaac Craig's Web Portfolio!</p>
      </div>

      <div class="col"></div>

      <div class="row">
        <div class="col-me-4">
          <p>Hello and Welcome to Isaac Craig's Web Portfolio!</p>
        </div>
      </div>
    </div> -->


  <!-- <br />

  <div class="right">
    <div class="topics">
      <div class="topic">
        <h2>What I do and Where I work</h2>
        <P>Currently I am a {{ workTitle }} for {{ workPlace }}.</P>
      </div>
      <div class="topic">
        <h2>My Education</h2>
        <p>
          I am currently Pursuing a degree in IT: Software Design & Management
          and I am on track to graduate in the Spring of 2021
        </p>
      </div>
      <div class="topic">
        <h2>What I Have Been Learning:</h2>
        <p>
          Recently I have been doing some Udemy courses centered on Angular,
          Jenkins, and PostGres
        </p>
      </div>
      <div class="topic">
        <h2>Where I am based out of:</h2>
        <p>Right now I am working out of the state of Indiana</p>
      </div>
    </div>
  </div> -->