<div class="content">
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets\img\me.jpg" alt="Isaac Craig" style="width: 100%;" />
        <div class="container">
          <h1>Isaac Craig</h1>
          <p class="title">Software Developer & Analyst</p>
          <p >Just a man trying to feed his cat and Amazon addiction</p>
        </div>
      </div>
    </div>
    <div class="column topics">
      <h1>Hi and welcome to my portfolio, below is a little bit about me</h1>
      <br />
      <div class="topic">
        <h2>What I do and Where I work</h2>
        <P>Currently I am a {{ workTitle }} for {{ workPlace }}.</P>
      </div>
      <div class="topic">
        <h2>My Education</h2>
        <p>
          I am currently Pursuing a Masters degree in IT: Software Design &
          Management at Liberty University with a 3.04 GPA and I am on track to
          graduate in the Spring of 2021!
        </p>
      </div>
      <div class="topic">
        <h2>What I Have Been Learning on my own:</h2>
        <p>
          Recently I have been doing some Udemy courses centered on Angular,
          Jenkins, and PostGres.
        </p>
      </div>
      <div class="topic">
        <h2>Where I am based out of:</h2>
        <p>Right now I am working out of the state of Indiana</p>
      </div>
    </div>
  </div>
</div>
<div class="right"></div>
