<div>

    <div class="left">
        <a><img class="portrait" src = "assets\img\me.jpg" width="150" height="200"></a>
        <ul class="list">
            <a class="Title">Currently I am:</a>
            <li><a class="bullets">A Software Developer and Analyst</a></li>
            <li><a class="bullets">Working for Honda Manufacturing of Indiana</a></li>
            <li><a class="bullets">Pursuing a Masters in IT: Software Design & Management</a></li>
        </ul>
        
        <ul class="list">
            <a class="Title">I Have been working in:</a>
            <li><a class="bullets">IBM DB2 Database writing SQL Queries</a></li>
            <li><a class="bullets">Java running bug fixes and code optimization</a></li>
            <li><a class="bullets">Using Atlassian work Management tools along with Office 365</a></li>
        </ul>
    </div>
    <div class="right">

    </div>
</div>